@import "tailwindcss";
@plugin "daisyui";

/* Custom Font */
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/* Root variables */
:root {
  --prim-color: #4e7661;
  --black-color: #000;
  --white-color: #fff;
  --text-color: #7e7e7e;
  --section-color: #edf1f0;
  --transition-regular: 0.4s;
  --transition-slow: 0.6s;
}

/* Utilities */
@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .banner-section {
    @apply flex items-center bg-cover bg-center min-h-[720px];
  }
}

/* Nav underline effect */
.nav-link {
  position: relative;
}
.nav-link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  border-radius: 5px;
  background-color: black;
  transition: width var(--transition-regular);
}
.nav-link:hover:after {
  width: 100%;
}

/* Banner background classes (preload images) */

.banner-bg-1 {
  background-image: url("/hero-bg-1.webp");
}
.banner-bg-2 {
  background-image: url("/hero-bg-2.webp");
}
.banner-bg-3 {
  background-image: url("/hero-bg-3.webp");
}
