@import "tailwindcss";
@plugin "daisyui";

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --prim-color: #4e7661;
  --black-color: #000;
  --white-color: #fff;
  --text-color: #7e7e7e;
  --section-color: #edf1f0;
  --plus-jakarta-font: "Plus Jakarta Sans", sans-serif;
  --poppins: "poppins";

  --transition-regular: 0.4s;
  --transition-slow: 0.6s;
}

/* .nav-link:after,
.nav-link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  border-radius: 5px;
  background-color: var(--black-color);
  transition: width var(--transition-regular);
}

.nav-link:after {
  left: 0;
  top: 0;
}

.nav-link:before {
  right: 0;
  bottom: 0;
}

.nav-link:hover:after,
.nav-link:hover:before {
  width: 100%;
} */
/* line effect */
.nav-link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  border-radius: 5px;
  background-color: black;
  transition: width var(--transition-regular);
}

.nav-link:hover:after {
  width: 100%;
}
