@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --prim-color: #4e7661;
  --black-color: #000;
  --white-color: #fff;
  --text-color: #7e7e7e;
  --section-color: #edf1f0;
  --poppins: "poppins";
  --transition-regular: 0.4s;
  --transition-slow: 0.6s;
}

/* .nav-link:after,
.nav-link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  border-radius: 5px;
  background-color: var(--black-color);
  transition: width var(--transition-regular);
}

.nav-link:after {
  left: 0;
  top: 0;
}

.nav-link:before {
  right: 0;
  bottom: 0;
}

.nav-link:hover:after,
.nav-link:hover:before {
  width: 100%;
} */
/* line effect */
.nav-link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  border-radius: 5px;
  background-color: black;
  transition: width var(--transition-regular);
}

.nav-link:hover:after {
  width: 100%;
}

/* hero section */

.banner-section {
  height: 700px;
  background-image: url("./assets/hero-bg-1.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  animation: anim-zoomout var(--transition-regular) forwards linear;
}

.banner-wrap2 {
  background-image: url("./assets/hero-bg-2.webp") !important;
}
.banner-wrap3 {
  background-image: url("./assets/hero-bg-3.webp") !important;
}

.banner-details {
  padding: 0 8%;
}

.banner-details h5 {
  color: var(--text-color);
  opacity: 0;
  animation: anim-left 0.6s 0.3s forwards linear;
}
.banner-details h1 {
  opacity: 0;
  animation: anim-left 0.6s 0.6s forwards linear;
}

.banner-details p {
  opacity: 0;
  color: var(--text-color);
  animation: anim-left 0.6s 0.9s forwards linear;
}

.banner-btn {
  font-size: 1.5rem;
  width: 200px !important;
  height: 50px;
  background-color: #000;
  color: white;
  opacity: 0;
  animation: anim-left 0.6s 1.2s forwards linear;
}

/* banner animation */

@keyframes anim-zoomout {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes anim-left {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
/* 48.9 min */
