@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --prim-color: #4e7661;
  --black-color: #000;
  --white-color: #fff;
  --text-color: #7e7e7e;
  --section-color: #edf1f0;
  --poppins: "poppins";
  --transition-regular: 0.4s;
  --transition-slow: 0.6s;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
}

/* line effect */
.nav-link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  border-radius: 5px;
  background-color: black;
  transition: width var(--transition-regular);
}

.nav-link:hover:after {
  width: 100%;
}

/* banner section */

.banner-section {
  height: 90dvh;
  background-image: url("./assets/hero-bg-1.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  animation: anim-zoomout var(--transition-regular) forwards linear;
}

.banner-wrap2 {
  background-image: url("./assets/hero-bg-2.webp") !important;
}
.banner-wrap3 {
  background-image: url("./assets/hero-bg-3.webp") !important;
}

.banner-details h5 {
  color: var(--text-color);
  opacity: 0;
  animation: anim-left 0.6s 0.3s forwards linear;
}
.banner-details h1 {
  opacity: 0;
  animation: anim-left 0.6s 0.6s forwards linear;
}

.banner-details p {
  opacity: 0;
  color: var(--text-color);
  animation: anim-left 0.6s 0.9s forwards linear;
}

.banner-btn {
  font-size: 1rem;
  padding: 20px;
  background-color: #000;
  color: white;
  opacity: 0;
  animation: anim-left 0.6s 1.2s forwards linear;
}

/* banner animation */

@keyframes anim-zoomout {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes anim-left {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
/* 48.9 min */
